.scrollArea::-webkit-scrollbar {
  width: 4px;
}

.scrollArea::-webkit-scrollbar-track {
  width: 4px;
  background: transparent;
}

.scrollArea::-webkit-scrollbar-thumb {
  background: var(--color-black-300);
  border-radius: 9999px;
}

.scrollArea::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

@supports not selector(::-webkit-scrollbar) {
  .scrollArea {
    scrollbar-width: thin;
    scrollbar-color: var(--color-black-300) transparent;
  }
}
